<div class="container mt-5">

  <!-- Show deleteMsg -->
  <div *ngIf="deletedMsg" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{deletedMsg}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fullname</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of readData;">
        <th scope="row">{{item.id}}</th>
        <td>{{item.fullname}}</td>
        <td>{{item.email}}</td>
        <td>{{item.mobile}}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="deleteId(item.id)">Delete</button>
          &nbsp;
          <a [routerLink]="['/create', item.id]" class="btn btn-sm btn-success">Update</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
